.lblalider {
    TEXT-ALIGN: right;
}

.lblaliizq {
    TEXT-ALIGN: left;
}

.AlineadoDerecha {
    text-align: right;
    border: none;
    border-radius: 8px 8px;
}

.AlineadoIzquierda {
    text-align: left;
    border: none;
    border-radius: 8px 8px;
}

.tb5 {
    border: 1px solid #9fbfd0;
    border-radius: 6px;
    height: 30px;
    text-align: left;
}

.tb4 {
    border: 1px solid #9fbfd0;
    border-radius: 6px;
    height: 30px;
    text-align: center;
}

.boton_verde {
    text-decoration: none;
    padding: 2px;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    background-color: #77ac60;
    border-radius: 6px;
    border: 2px solid #77ac60;
    width: 180px;
}

    .boton_verde:hover {
        color: #77ac60;
        background-color: #ffffff;
        border-color: #77ac60;
    }

.boton_rojo {
    text-decoration: none;
    padding: 2px;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    background-color: #fb5d5d;
    border-radius: 6px;
    border: 2px solid #fb5d5d;
    width: 180px;
}

    .boton_rojo:hover {
        color: #fb5d5d;
        background-color: #ffffff;
        border-color: #fb5d5d;
    }

.boton_azul {
    text-decoration: none;
    padding: 2px;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    background-color: #6082ac;
    border-radius: 6px;
    border: 2px solid #6082ac;
    width: 180px; 
    /*text-align: left;*/
}

    .boton_azul:hover {
        color: #6082ac;
        background-color: #ffffff;
        border-color: #6082ac;
    }


.boton_naranja {
    text-decoration: none;
    padding: 2px;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    background-color: #ff6a00;
    border-radius: 6px;
    border: 2px solid #ff6a00;
    width: 180px;
}

    .boton_naranja:hover {
        color: #ff6a00;
        background-color: #ffffff;
        border-color: #ff6a00;
    }